@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#container_arquivos{
    display: grid;
    grid-template-areas: 
    'header'
    'navbar'
    'section_personagens'
    'section_hq'
    'section_filmes'
    'section_desenhos'
    'section_jogos'
    'footer';
    gap: 30px;
    text-align: center;
}

header {
    grid-area: header;
    /* background-color: red; */
    height: 40vh;
    background-image: url("../Assets/header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    grid-area: navbar;
    height: 10vh;
    border: solid black thin;
}

.buttons_nav {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li {
    display: flex;
    list-style: none;
    font-family: "Aboreto", system-ui;
    font-size: xx-large;
    height: 100%;
    align-items: center;
    border: solid black thin;
    width: 270px;
    justify-content: center;
}

.buttons_nav a {
    color: black;
    text-decoration: none;
} 

.div_titulo .h1_titulo {
    display: flex;
    font-family: "Fredericka the Great", serif;
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 115%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 30px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    max-width: 1850px;
    width: 95%;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 500px;
    object-fit: cover;
}

.personagens .slider-scrollbar {
    height: 24px;
    width: 1850px;
    /* background: blue; */
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    position: relative;
    height: 6px;
    width: 1850px;
    background: #ccc;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 8px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 925px;
    background: #000000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-track:active {
    cursor: grabbing;
    height: 10px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.personagens {
    grid-area: section_personagens;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    background-color:deeppink;
}

.hq {
    grid-area: section_hq;
    height: 90vh;
    align-content: center;
    background-color: aqua;
}

.filmes {
    grid-area: section_filmes;
    height: 90vh;
    align-content: center;
    background-color: blueviolet;
}

.desenhos {
    grid-area: section_desenhos;
    height: 90vh;
    align-content: center;
    background-color: crimson;
}

.jogos {
    grid-area: section_jogos;
    height: 90vh;
    align-content: center;
    background-color: darksalmon;
}


footer {
    grid-area: footer;
    background-color: black;
    height: 15vh;
    align-content: center;
    color: white;
}

