@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#container_arquivos{
    display: grid;
    grid-template-areas: 
    'header'
    'navbar'
    'section_personagens'
    'section_hq'
    'section_filmes'
    'section_desenhos'
    'section_jogos'
    'footer';
    gap: 30px;
}

header {
    grid-area: header;
    /* background-color: red; */
    height: 40vh;
    background-image: url("../Assets/header_arquivos.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    grid-area: navbar;
    height: 10vh;
    border: solid black thin;
}

.buttons_nav {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li {
    display: flex;
    list-style: none;
    font-family: "Aboreto", system-ui;
    font-size: xx-large;
    height: 100%;
    align-items: center;
    border: solid black thin;
    width: 270px;
    justify-content: center;
}

.buttons_nav a {
    color: black;
    text-decoration: none;
} 

.div_titulo .h1_titulo {
    display: flex;
    font-family: "Aboreto", system-ui;
    font-size: xx-large;
    font-size: 80px;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 5rem;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -30px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 30px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1500px;
    width: 95%;
    padding: 20px 0;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    height: 8px;
}

.slider-wrapper .image-list::-webkit-scrollbar-thumb {
    background-color: black;
}

.slider-wrapper .image-list::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

.slider-wrapper .image-list::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 500px;
    object-fit: cover;
}

.personagens {
    grid-area: section_personagens;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    /* background-color:deeppink; */
}

.hq {
    grid-area: section_hq;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    /* background-color: aqua; */
}

.filmes {
    grid-area: section_filmes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    /* background-color: blueviolet; */
}

.desenhos {
    grid-area: section_desenhos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    /* background-color: crimson; */
}

.jogos {
    grid-area: section_jogos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    align-content: center;
    /* background-color: darksalmon; */
}


footer {
    grid-area: footer;
    background-color: black;
    height: 15vh;
    align-content: center;
    color: white;
    text-align: center;
}

