@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
}

.main_dashboard {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../Assets/bg_quiz.png);
  background-size: cover;
}

.container_dashboard {
    height: 90vh;
    width: 90vw;
    border-radius: 30px;
    background-color: white;
}

.box_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.div_titulo {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 10%;
  width: auto;
}

.div_titulo h1 {
  font-family: "Fredericka the Great", serif;
  font-size: 80px;
  font-weight: lighter;
  padding: 1rem;
}

.div_dashboard {
    display: flex;
    height: 90%;
    /* background-color: gold; */
}

.div_dashboard .dash_left {
    display: flex;
    /* background-color: aqua; */
    height: 100%;
    width: 70%;
    align-content: center;
    justify-content: center;
}


.div_dashboard .dash_left .box_grafico {
    /* background-color: salmon; */
    border: solid black 5px;
    border-radius: 30px;
    height: 80%;
    width: 90%;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.div_dashboard .dash_left .box_grafico .grafico {
    /* background-color: white; */
    height: 100%;
    width: 100%;
    justify-self: center;
    position: relative;
}

.div_dashboard .dash_left .box_grafico .grafico .div_slt {
    display: flex;
    position: absolute;
    /* background-color: crimson; */
    height: 30px;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.div_dashboard .dash_left .box_grafico .grafico .div_slt select {
    width: 110px;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    font-family: "Anonymous Pro";
    font-size: 20px;
}

.div_dashboard .dash_right {
    display: flex;
    /* background-color: darkorchid; */
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.div_dashboard .dash_right .div_kpis {
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    border-radius: 30px;
    height: 80%;
    width: 90%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 3rem;
}

.div_dashboard .dash_right .div_kpis .kpi {
  /* border: solid chartreuse 5px; */
  height: 100%;
  width: 100%;
  align-self: center;
  align-items: end;
}

.div_dashboard .dash_right .div_kpis .kpi .titulo_kpi {
  border-bottom: solid black 3px;
  height: 10%;
  width: 60%;
  justify-self: center;
  align-items: flex-end;
  text-align: center;
  align-content: end;
  padding-top: 1rem;
}

.div_dashboard .dash_right .div_kpis .kpi .titulo_kpi h1 {
  font-family: "Aboreto";
  font-size: 40px;
}

.div_dashboard .dash_right .div_kpis .kpi .relatorio_kpi {
  /* border: solid red 5px; */
  display: flex;
  flex-direction: column;
  height: 85%;
  padding-left: 2rem;
  justify-content: space-evenly;
  justify-items: center;
}

.div_dashboard .dash_right .div_kpis .kpi .relatorio_kpi span {
  border-bottom: solid black 3px;
  height: 10%;
  width: 90%;
  font-family: "Anonymous Pro";
  font-size: 35px;
  align-content: end;
}